<h2> {{message}} </h2>

<form method = "post" id = "addForm">
  <fieldset>
    <legend> Employee Info </legend>
    <p>
      <label for "eID"> Employee ID: </label>
      <input type ="number" min=1 max =9999999999 class ="required" name="eID" id="eID" required>
    </p>

    <p>
      <label for "FName"> First Name: </label>
      <input type ="text" class ="required" name="fName" id="fName" required>
    </p>

    <p>
      <label for "LName"> Last Name: </label>
      <input type ="text" class ="required" name="lName" id="lName" required>
    </p>

    <p>
      <label for "Job"> Job: </label>
      <input type ="text" class ="required" name="Job" id="Job" required>
    </p>

    <p>
      <label for "sID"> Store ID: </label>
      <input type ="number" min=1 max =9999999999 class ="required" name="sID" id="sID" required>
    </p>

    <p>
      <input type="submit" value="Submit" />
      <input type="reset" value="Clear" />
    </p>
  </form>
