<h1>Login</h1>

<form method = "post" id = "addForm">
  <fieldset>
    <legend> Employee ID </legend>
    <p>
      <label for "eID"> Employee ID: </label>
      <input type ="number" min=1 max =9999999999 class ="required" name="eID" id="eID">
    </p>
  </fieldset>
</form>
