<h2> {{message}} </h2>

<form method = "post" id = "addForm">
  <fieldset>
    <legend> Item Info </legend>
    <p>
      <label for "Item Name"> Item Name: </label>
      <input type ="text"class ="required" name="Item Name" id="Item Name">
    </p>

    <p>
      <label for "Item Price"> Item Price: </label>
      <input type ="number" class ="required" name="Item Price" id="Item Price">
    </p>
    <p>
      <label for "sID"> Store ID: </label>
      <input type ="number" min=1 max =9999999999 class ="required" name="sID" id="sID">
    </p>
    <p>
      <input type="submit" value="Submit" />
      <input type="reset" value="Clear" />
    </p>
  </form>
