<h2> {{message}} </h2>

<form method = "post" id = "deleteForm">
  <fieldset>
    <legend> Order Log Info </legend>
    <p>
      <label for "oID"> Order Number: </label>
      <input type ="number" min=1 max =9999999999 class ="required" name="oID" id="oID" required>
    </p>

    <p>
      <input type="submit" value="Submit" />
      <input type="reset" value="Clear" />
    </p>
  </form>
