<h1> Order Items </h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Item Name</th>
      <th>Quantity</th>

    </tr>
  </thead>

  <tbody>
          {{#if rows.length }}
              {{#each rows }}
                  <tr>
                      <td>{{this.oID}}</td>
                      <td>{{this.itemName}}</td>
                      <td>{{this.quantity}}</td>

                  </tr>
              {{/each}}
          {{else}}
              <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
          {{/if}}
      </tbody>
</table>
