
header{
  height: 70px;
  color: #fb3640;
  font-weight: bold;
  font-style: normal;
  font-family: 'Alata', sans-serif;
  font-size: 45px;

}

h1{
  color: #1D3461;
  font-weight: bold;
  font-style: normal;
  font-family: 'Alata', sans-serif;
  padding-top: -10px;
}

a{
  color: #1F487E;
  font-weight: bold;
  font-style: normal;
  font-family: 'Alata', sans-serif;
}

a:visited{
  color: #605F5E;
}

.thuyvy{

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
button{
  border-radius: 15px;
  padding: 5px;
  font-family: 'Alata', sans-serif;
}

input[type="submit" i]{
  border-radius: 15px;
  padding: 5px;
  font-family: 'Alata', sans-serif;
}

input[type="reset" i]{
  border-radius: 15px;
  padding: 5px;
  font-family: 'Alata', sans-serif;
}


nav li {
    float: left;
    border-right:1px solid #bbb;
    text-decoration: none;
}

th, td{
  padding-right: 10px;
  text-align: left;
}

nav li:nth-last-child(-n+5){
    border-right: none;
    float:right;
    border-left:1px solid #bbb;
    text-decoration: none;
}

nav li a {
    display: block;
  /*  color: white;*/
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
th{
  text-decoration: underline;
}
li{
  list-style-type: none;
}

body .vsc-initialized{
  background-color: pink;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.side{
  display: inline-block;
  margin-bottom: 25px;
}

.view{
  display: inline-block;
}
